#candidatesH1 { 
    font-size: 2.5em; 
    color: #f2a900;
}

.team{
    padding-top:60px;
}
.team__single{
    text-align:center;
    width:30.667%;
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-pack:justify;
    justify-content:space-between;
    background:#fff;
    box-shadow:5px 0 40px rgba(0,0,0,0.08);
    padding-bottom:50px;
    margin-bottom:40px;
}

.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-flexbox.no-flexboxtweener .team__single{
    display:inline-block;
    margin-right:2%;
}

.no-flexbox.no-flexboxtweener .team__single:last-child{
    margin-right:0
}
.team__single__image{
    margin-bottom:45px
}
.team__single__text{
    padding:30px 20px
}
.team__single__link{
    margin:0 10px
}
.team__single img{
    display:block;
    width:100%
}
.team__single span{
    display:block;
    font-size:1.6em;
    margin-top:15px;
    margin-bottom:30px
}
.team__single__info{
    -ms-flex:1;
    flex:1;
}
.team__single__info p{
    padding:0 38px;
    text-align:left
}
@media only screen and (max-width:1190px){
    .team__single{
        width:45%
    }
}
@media only screen and (max-width:820px){
    .team__single{
        width:100%
    }
}

.wrap{
    max-width:1580px;
    width:100%;
    padding-left:40px;
    padding-right:40px;
    margin-left:auto;
    margin-right:auto;
}
.wrap--relative{
    position:relative
}
.wrap--flex{
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-justify-content:space-between;
}
.wrap--flex.wrap--centre{
    -ms-flex-align:center;
    align-items:center;
    -webkit-align-items:center
}
.no-flexbox.no-flexboxtweener .wrap--flex{
    display:table-cell;
    width:100%;
    table-layout:fixed
}
@media only screen and (max-width:1080px){
    .wrap--flex{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -webkit-flex-wrap:wrap;
        -ms-flex-pack:distribute;
        justify-content:space-around;
        -webkit-justify-content:space-around
    }
}
.wrap--new-line{
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.wrap--contact{
    max-width:1460px
}
.wrap--snippet,.wrap--heading{
    max-width:1400px
}
.wrap--testimonial{
    max-width:1140px
}
.wrap--conclusion{
    max-width:1580px
}
.wrap--specialism .specialism-section__content__inner{
    padding-right:50px;
}
@media only screen and (max-width:685px){
    .wrap--specialism .specialism-section__content__inner{
        padding-left:0;
        padding-right:0
    }
}
@media only screen and (max-width:768px){
    .wrap{
        padding-left:30px;
        padding-right:30px
    }
}
@media only screen and (max-width:685px){
    .wrap{
        padding-left:20px;
        padding-right:20px
    }
    .wrap--full-width{
        padding-left:0;
        padding-right:0
    }
}